// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here

/* applied when device is in light mode */
.ns-light .bg-primary {
  background-color: #fdfdfd;
}
.ns-light .bg-secondary {
  background-color: #ffffff;
  border-width: 1;
  border-color: #eee;
}
.ns-light .text-primary {
  color: #444;
}
.ns-light .text-secondary {
  color: #777;
}

/* applied when device is in dark mode */
.ns-dark .bg-primary {
  background-color: #212121;
}
.ns-dark .bg-secondary {
  background-color: #444444;
  border-width: 1;
  border-color: #616161;
}
.ns-dark .text-primary {
  color: #eee;
}
.ns-dark .text-secondary {
  color: #ccc;
}
