<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Settings" colSpan="2"></Label>
    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <StackLayout class="form-container">
    <Label text="Configuracion de Ngrok" class="h1 mb-4"></Label>

    <TextField hint="URL de Ngrok (ej: https://abc123.ngrok.io)"
               class="input"
               formControlName="ngrokUrl">
    </TextField>

    <Label text="Nombre de Usuario" class="h1 mb-4 mt-4"></Label>
    <TextField hint="Tu nombre de usuario"
               class="input"
               formControlName="username">
    </TextField>

    <Button text="Guardar Configuracion"
            title="Guadar"
            class="btn btn-primary mt-4"
            (tap)="onSave()">
    </Button>
  </StackLayout>
</GridLayout>
