<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Home" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <StackLayout>
    <Label text="Elementos Leídos Recientemente" class="h1 mb-4" textWrap="true"></Label>
    
    <ListView [items]="readItems$ | async" class="read-items-list">
      <ng-template let-item="item">
        <FlexboxLayout class="read-item" (tap)="onItemTap(item)">
          <!-- Read item content -->
          <FlexboxLayout class="read-content" flexDirection="column" flex="1">
            <Label [text]="item.title" class="read-title"></Label>
            <Label [text]="item.category" class="read-category"></Label>
            <Label [text]="'$' + item.price" class="read-price"></Label>
          </FlexboxLayout>
          
          <!-- Remove from read list -->
          <Label 
            class="fas remove-icon"
            text="&#xf00d;"
            (tap)="removeFromRead($event, item.id)">
          </Label>
        </FlexboxLayout>
      </ng-template>
    </ListView>
    
    <Label *ngIf="(readItems$ | async)?.length === 0" 
           text="No tienes elementos leídos aún" 
           class="no-reads"></Label>
  </StackLayout>
</GridLayout>
