<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    <Label class="action-bar-title" text="Productos" col="1"></Label>
  </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <StackLayout class="product-container">
    <!-- Mensaje de plataforma solo visible en Android -->
    <Label *ngIf="platformMessage" [text]="platformMessage" class="platform-message"></Label>
    
    <!-- Uso de ngFor para listar productos (requisito 7) -->
    <ListView [items]="products" class="list-group">
      <ng-template let-product="item">
        <GridLayout columns="*, auto" class="product-item" (tap)="onProductTap(product)">
          <StackLayout col="0">
            <Label [text]="product.name" class="product-name"></Label>
            <Label [text]="product.category" class="product-category"></Label>
          </StackLayout>
          <Label col="1" [text]="'$' + product.price" class="product-price"></Label>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</GridLayout>
